{% extends "basePage.html"%}

{% block title %} | REITs Vs Frational CRE {% endblock %}

{% block content %}

    <main>
        <div class="flex center">
            <h1>REITS Vs Fractional Ownership</h1>
        </div>
    <!-- ./images/stocks.jpg -->
        <div class="flex articles article">
            <img src="{{url_for('static',filename='images/stocks.jpg')}}" alt="">  
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste corrupti voluptatum ipsa? Libero earum dolor commodi dolorum, sed soluta molestias molestiae tempora. Molestiae ab aut accusantium, numquam necessitatibus voluptatibus error!</p>
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste corrupti voluptatum ipsa? Libero earum dolor commodi dolorum, sed soluta molestias molestiae tempora. Molestiae ab aut accusantium, numquam necessitatibus voluptatibus error!</p>
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste corrupti voluptatum ipsa? Libero earum dolor commodi dolorum, sed soluta molestias molestiae tempora. Molestiae ab aut accusantium, numquam necessitatibus voluptatibus error!</p>
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste corrupti voluptatum ipsa? Libero earum dolor commodi dolorum, sed soluta molestias molestiae tempora. Molestiae ab aut accusantium, numquam necessitatibus voluptatibus error!</p>
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste corrupti voluptatum ipsa? Libero earum dolor commodi dolorum, sed soluta molestias molestiae tempora. Molestiae ab aut accusantium, numquam necessitatibus voluptatibus error!</p>
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste corrupti voluptatum ipsa? Libero earum dolor commodi dolorum, sed soluta molestias molestiae tempora. Molestiae ab aut accusantium, numquam necessitatibus voluptatibus error!</p>
        </div>
    
    </main>

 {% endblock %}