{% extends "basePage.html"%}

{% block title %} | Login {% endblock %}

{% block content%}

    <main> 
        <div class="flex login-form">

            <div class="flex" id="login-1">

                <div class="flex">
                    <h1>Recover Password</h1>
                </div>
                
                <form action="{{ url_for('forgotPassword') }}" method="post" class="login-form">
                    <div class="flex">
                        <input type="email" id="emailAddress" placeholder="Email Address" name="emailAddress" value="">
                    </div>
                    <div class="flex">
                        <input type="password" id="emailAddress" placeholder="Password" name="password" value="">
                    </div>

                    <div class="flex" id="submit_flex">
                        <input type="submit" id="submit" value="Recover Password">
                    </div>
                </form> 

                <div class="flex">
                    <a href="{{url_for('login')}}">Log In</a>
                    <p></p>
                    <a href="{{url_for('signUp')}}">Sign up</a>
                </div>
            </div>

            <div class="flex" id="login-2">
                <img src="../static/images/building2.jpg" alt="" class="hero_og">
            </div>
        </div>
    </main>

    {{Username}}
    <br>
    {{Password}}

 {% endblock%}
