{% extends "basePage.html"%}

{% block title %} | Investments {% endblock %}

{% block content %}

<main>
    <div class="flex center">
        <h1>Properties</h1>
    </div>

    <div class="flex Carasols_investments">
        <div class="slideshowbox">

            <div class="slide-show">
                <img class="items" src="{{url_for('static',filename='/images/test/test.jpg')}}" alt="">
                <img class="items" src="{{url_for('static',filename='/images/test/test1.jpg')}}" alt="">
                <img class="items" src="{{url_for('static',filename='/images/test/test2.jpg')}}" alt="">
                <div class="arrow_right" id="carasole_right">&#10095;</div>
                <div class="arrow_left" id="carasole_left">&#10094;</div>
            </div>

            <h3 id="overlay">London - Office</h3>
            <div class="flex summary">
                <div class="flex">
                    <h3>GBP 5000</h3>
                </div>
                <div class="flex">
                    <h3>Yeild 4%</h3>
                </div>
            </div>
            <div class="flex center-desktop">
                <a href="{{url_for('property')}}">
                    <button class="btn-invest">
                        <h3>I'm Intrested</h3>
                    </button>
                </a>
            </div>
        </div>

        <div class="slideshowbox">
            <div class="slide-show">
                <img class="items1" src="{{url_for('static',filename='/images/test/test.jpg')}}" alt="">
                <img class="items1" src="{{url_for('static',filename='/images/test/test1.jpg')}}" alt="">
                <img class="items1" src="{{url_for('static',filename='/images/test/test2.jpg')}}" alt="">
                <div class="arrow_right" id="carasole_right_1">&#10095;</div>
                <div class="arrow_left" id="carasole_left_1">&#10094;</div>
            </div>
            <h3 id="overlay">London - Office</h3>
            <div class="flex summary">
                <div class="flex">
                    <h3>GBP 5000</h3>
                </div>
                <div class="flex">
                    <h3>Yeild 4%</h3>
                </div>
            </div>
            <div class="flex center-desktop">
                <a href="{{url_for('property')}}">
                    <button class="btn-invest">
                        <h3>I'm Intrested</h3>
                    </button>
                </a>
            </div>
        </div>

        <div class="slideshowbox">
            <div class="slide-show">
                <img class="items2" src="{{url_for('static',filename='/images/test/test.jpg')}}" alt="">
                <img class="items2" src="{{url_for('static',filename='/images/test/test1.jpg')}}" alt="">
                <img class="items2" src="{{url_for('static',filename='/images/test/test2.jpg')}}" alt="">
                <div class="arrow_right" id="carasole_right_2">&#10095;</div>
                <div class="arrow_left" id="carasole_left_2">&#10094;</div>
            </div>
            <h3 id="overlay">London - Office</h3>
            <div class="flex summary">
                <div class="flex">
                    <h3>GBP 5000</h3>
                </div>
                <div class="flex">
                    <h3>Yeild 4%</h3>
                </div>
            </div>
            <div class="flex center-desktop">
                <a href="{{url_for('property')}}">
                    <button class="btn-invest">
                        <h3>I'm Intrested</h3>
                    </button>
                </a>
            </div>
        </div>
    </div>


    <div class="flex Carasols_investments">
        <div class="slideshowbox">
            <div class="slide-show">
                <img class="items3" src="{{url_for('static',filename='/images/test/test.jpg')}}" alt="">
                <img class="items3" src="{{url_for('static',filename='/images/test/test1.jpg')}}" alt="">
                <img class="items3" src="{{url_for('static',filename='/images/test/test2.jpg')}}" alt="">
                <div class="arrow_right" id="carasole_right_3">&#10095;</div>
                <div class="arrow_left" id="carasole_left_3">&#10094;</div>
            </div>
            <h3 id="overlay">London - Office</h3>
            <div class="flex summary">
                <div class="flex">
                    <h3>GBP 5000</h3>
                </div>
                <div class="flex">
                    <h3>Yeild 4%</h3>
                </div>
            </div>
            <div class="flex center-desktop">
                <a href="{{url_for('property')}}">
                    <button class="btn-invest">
                        <h3>I'm Intrested</h3>
                    </button>
                </a>
            </div>
        </div>

        <div class="slideshowbox">
            <div class="slide-show">
                <img class="items4" src="{{url_for('static',filename='/images/test/test.jpg')}}" alt="">
                <img class="items4" src="{{url_for('static',filename='/images/test/test1.jpg')}}" alt="">
                <img class="items4" src="{{url_for('static',filename='/images/test/test2.jpg')}}" alt="">
                <div class="arrow_right" id="carasole_right_4">&#10095;</div>
                <div class="arrow_left" id="carasole_left_4">&#10094;</div>
            </div>
            <h3 id="overlay">London - Office</h3>
            <div class="flex summary">
                <div class="flex">
                    <h3>GBP 5000</h3>
                </div>
                <div class="flex">
                    <h3>Yeild 4%</h3>
                </div>
            </div>
            <div class="flex center-desktop">
                <a href="{{url_for('property')}}">
                    <button class="btn-invest">
                        <h3>I'm Intrested</h3>
                    </button>
                </a>
            </div>
        </div>

        <div class="slideshowbox">
            <div class="slide-show">
                <img class="items5" src="{{url_for('static',filename='/images/test/test.jpg')}}" alt="">
                <img class="items5" src="{{url_for('static',filename='/images/test/test1.jpg')}}" alt="">
                <img class="items5" src="{{url_for('static',filename='/images/test/test2.jpg')}}" alt="">
                <div class="arrow_right" id="carasole_right_5">&#10095;</div>
                <div class="arrow_left" id="carasole_left_5">&#10094;</div>
            </div>
            <h3 id="overlay">London - Office</h3>
            <div class="flex summary">
                <div class="flex">
                    <h3>GBP 5000</h3>
                </div>
                <div class="flex">
                    <h3>Yeild 4%</h3>
                </div>
            </div>
            <div class="flex center-desktop">
                <a href="{{url_for('property')}}">
                    <button class="btn-invest">
                        <h3>I'm Intrested</h3>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="flex Carasols_investments">
        <div class="slideshowbox">
            <div class="slide-show">
                <img class="items6" src="{{url_for('static',filename='/images/test/test.jpg')}}" alt="">
                <img class="items6" src="{{url_for('static',filename='/images/test/test1.jpg')}}" alt="">
                <img class="items6" src="{{url_for('static',filename='/images/test/test2.jpg')}}" alt="">
                <div class="arrow_right" id="carasole_right_6">&#10095;</div>
                <div class="arrow_left" id="carasole_left_6">&#10094;</div>
            </div>
            <h3 id="overlay">London - Office</h3>
            <div class="flex summary">
                <div class="flex">
                    <h3>GBP 5000</h3>
                </div>
                <div class="flex">
                    <h3>Yeild 4%</h3>
                </div>
            </div>
            <div class="flex center-desktop">
                <a href="{{url_for('property')}}">
                    <button class="btn-invest">
                        <h3>I'm Intrested</h3>
                    </button>
                </a>
            </div>
        </div>

        <div class="slideshowbox">
            <div class="slide-show">
                <img class="items7" src="{{url_for('static',filename='/images/test/test.jpg')}}" alt="">
                <img class="items7" src="{{url_for('static',filename='/images/test/test1.jpg')}}" alt="">
                <img class="items7" src="{{url_for('static',filename='/images/test/test2.jpg')}}" alt="">
                <div class="arrow_right" id="carasole_right_7">&#10095;</div>
                <div class="arrow_left" id="carasole_left_7">&#10094;</div>
            </div>
            <h3 id="overlay">London - Office</h3>
            <div class="flex summary">
                <div class="flex">
                    <h3>GBP 5000</h3>
                </div>
                <div class="flex">
                    <h3>Yeild 4%</h3>
                </div>
            </div>
            <div class="flex center-desktop">
                <a href="{{url_for('property')}}">
                    <button class="btn-invest">
                        <h3>I'm Intrested</h3>
                    </button>
                </a>
            </div>
        </div>

        <div class="slideshowbox">
            <div class="slide-show">
                <img class="items8" src="{{url_for('static',filename='/images/test/test.jpg')}}" alt="">
                <img class="items8" src="{{url_for('static',filename='/images/test/test1.jpg')}}" alt="">
                <img class="items8" src="{{url_for('static',filename='/images/test/test2.jpg')}}" alt="">
                <div class="arrow_right" id="carasole_right_8">&#10095;</div>
                <div class="arrow_left" id="carasole_left_8">&#10094;</div>
            </div>
            <h3 id="overlay">London - Office</h3>
            <div class="flex summary">
                <div class="flex">
                    <h3>GBP 5000</h3>
                </div>
                <div class="flex">
                    <h3>Yeild 4%</h3>
                </div>
            </div>
            <div class="flex center-desktop">
                <a href="{{url_for('property')}}">
                    <button class="btn-invest">
                        <h3>I'm Intrested</h3>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="flex Carasols_investments">
        <div class="slideshowbox">
            <div class="slide-show">
                <img class="items9" src="{{url_for('static',filename='/images/test/test.jpg')}}" alt="">
                <img class="items9" src="{{url_for('static',filename='/images/test/test1.jpg')}}" alt="">
                <img class="items9" src="{{url_for('static',filename='/images/test/test2.jpg')}}" alt="">
                <div class="arrow_right" id="carasole_right_9">&#10095;</div>
                <div class="arrow_left" id="carasole_left_9">&#10094;</div>
            </div>
            <h3 id="overlay">London - Office</h3>
            <div class="flex summary">
                <div class="flex">
                    <h3>GBP 5000</h3>
                </div>
                <div class="flex">
                    <h3>Yeild 4%</h3>
                </div>
            </div>
            <div class="flex center-desktop">
                <a href="{{url_for('property')}}">
                    <button class="btn-invest">
                        <h3>I'm Intrested</h3>
                    </button>
                </a>
            </div>
        </div>
    </div>

</main>
{% endblock %}